@media (-ms-high-contrast:active) {
  .actionToggle.actionToggle__justified:hover:enabled .actionToggle_glyph, .actionToggle.actionToggle__lightweight:hover:enabled .actionToggle_glyph {
    fill: Highlight !important;
  }
}
@media (-ms-high-contrast:active) {
  .actionToggle:hover:enabled .actionToggle_glyph {
    fill: HighlightText !important;
    color: HighlightText !important;
  }
}
.actionToggle_glyph {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
@media (-ms-high-contrast:active) {
  .actionToggle_glyph {
    fill: ButtonText !important;
    color: ButtonText !important;
  }
}
.actionToggle__primary .actionToggle_glyph {
  fill: var(--accent-foreground-cut);
}
@media (-ms-high-contrast:active) {
  .actionToggle__primary:hover:enabled .actionToggle_glyph {
    fill: Highlight !important;
  }
}
@media (-ms-high-contrast:active) {
  .actionToggle__primary .actionToggle_glyph {
    fill: HighlightText !important;
    color: HighlightText !important;
  }
}
.actionToggle__lightweight .actionToggle_glyph {
  fill: var(--accent-foreground-rest);
}
.actionToggle__lightweight:active .actionToggle_glyph {
  fill: var(--accent-foreground-active);
}
.actionToggle__lightweight:hover:enabled .actionToggle_glyph {
  fill: var(--accent-foreground-hover);
}
.actionToggle__justified .actionToggle_glyph {
  fill: var(--accent-foreground-rest);
}
.actionToggle__justified:hover:enabled .actionToggle_glyph {
  fill: var(--accent-foreground-hover);
}
.actionToggle__stealth .actionToggle_glyph {
  fill: var(--neutral-foreground-rest);
}
.actionToggle__outline .actionToggle_glyph {
  fill: var(--neutral-foreground-rest);
}
@media (-ms-high-contrast:active) {
  .actionToggle__disabled .actionToggle_glyph {
    fill: GrayText !important;
    color: GrayText !important;
    opacity: 1;
  }
}
.actionToggle__hasGlyphAndContent .actionToggle_glyph {
  margin-right: 12px;
  margin-left: ;
}