@media (-ms-high-contrast:active) {
  .actionToggle-0-0-7.actionToggle__justified-0-0-11:hover:enabled .actionToggle_glyph-0-0-8, .actionToggle-0-0-7.actionToggle__lightweight-0-0-10:hover:enabled .actionToggle_glyph-0-0-8 {
    fill: Highlight !important;
  }
}
@media (-ms-high-contrast:active) {
  .actionToggle-0-0-7:hover:enabled .actionToggle_glyph-0-0-8 {
    fill: HighlightText !important;
    color: HighlightText !important;
  }
}
.actionToggle_glyph-0-0-8 {
  display: inline-block;
  position: relative;
}
@media (-ms-high-contrast:active) {
  .actionToggle_glyph-0-0-8 {
    fill: ButtonText !important;
    color: ButtonText !important;
  }
}
.actionToggle__primary-0-0-9 .actionToggle_glyph-0-0-8 {
  fill: var(--accent-foreground-cut);
}
@media (-ms-high-contrast:active) {
  .actionToggle__primary-0-0-9:hover:enabled .actionToggle_glyph-0-0-8 {
    fill: Highlight !important;
  }
}
@media (-ms-high-contrast:active) {
  .actionToggle__primary-0-0-9 .actionToggle_glyph-0-0-8 {
    fill: HighlightText !important;
    color: HighlightText !important;
  }
}
.actionToggle__lightweight-0-0-10 .actionToggle_glyph-0-0-8 {
  fill: var(--accent-foreground-rest);
}
.actionToggle__lightweight-0-0-10:active .actionToggle_glyph-0-0-8 {
  fill: var(--accent-foreground-active);
}
.actionToggle__lightweight-0-0-10:hover:enabled .actionToggle_glyph-0-0-8 {
  fill: var(--accent-foreground-hover);
}
.actionToggle__justified-0-0-11 .actionToggle_glyph-0-0-8 {
  fill: var(--accent-foreground-rest);
}
.actionToggle__justified-0-0-11:hover:enabled .actionToggle_glyph-0-0-8 {
  fill: var(--accent-foreground-hover);
}
.actionToggle__stealth-0-0-12 .actionToggle_glyph-0-0-8 {
  fill: var(--neutral-foreground-rest);
}
.actionToggle__outline-0-0-13 .actionToggle_glyph-0-0-8 {
  fill: var(--neutral-foreground-rest);
}
@media (-ms-high-contrast:active) {
  .actionToggle__disabled-0-0-14 .actionToggle_glyph-0-0-8 {
    fill: GrayText !important;
    color: GrayText !important;
    opacity: 1;
  }
}