.flipper {
  fill: var(--neutral-foreground-rest);
  color: var(--neutral-foreground-rest);
  cursor: pointer;
  margin: 0;
  border: none;
  display: inline-flex;
  padding: 0;
  position: relative;
  background: transparent;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.flipper::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.8;
  position: absolute;
  transition: all 0.1s ease-in-out;
  background: var(--neutral-fill-stealth-rest);
  border-radius: 50%;
  border: 1px solid var(--neutral-outline-rest);
}
.flipper:focus {
  outline: none;
}
.flipper::-moz-focus-inner {
  border: 0;
}
@media (-ms-high-contrast:active) {
  .flipper {
    fill: ButtonText;
    color: ButtonText;
    background: ButtonFace;
    border-color: ButtonText;
    -ms-high-contrast-adjust: none;
  }
}
body:not(:global(.js-focus-visible)) .flipper:focus::before, :global(.js-focus-visible) .flipper:global(.focus-visible)::before, global(.js-focus-visible) [data-focus-visible-added].flipper::before {
  border: var(--neutral-focus);
  box-shadow: 0 0 0 1px var(--neutral-focus) inset;
}
.flipper:hover::before {
  background: var(--neutral-fill-stealth-hover);
  border-color: var(--neutral-outline-hover);
}
@media (-ms-high-contrast:active) {
  .flipper:hover .flipper_glyph {
    fill: HighlightText !important;
    color: HighlightText !important;
  }
}
@media (-ms-high-contrast:active) {
  .flipper:hover::before {
    background: Highlight;
  }
}
.flipper:active::before {
  background: var(--neutral-fill-stealth-active);
  border-color: var(--neutral-outline-active);
}
@media (-ms-high-contrast:active) {
  .flipper::before {
    background: Window;
  }
}
.flipper_glyph {
  position: relative;
  transform: none;
  width: 16px;
  height: 16px;
}