.image-0-0-106 {
  margin: 0;
  height: auto;
  display: block;
  max-width: 100%;
}
.image__picture-0-0-107 {
  display: block;
}
.image_img-0-0-108 {
  margin: 0;
  height: auto;
  display: block;
  max-width: 100%;
}