.label-0-0-109 {
  color: var(--neutral-foreground-rest);
  display: inline-block;
  padding: 0;
}
.label__hidden-0-0-110 {
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
}