.numberField {
  color: var(--neutral-foreground-rest);
  margin: 0;
  background: var(--neutral-fill-input-rest);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  font-family: inherit;
  -moz-appearance: textfield;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid var(--neutral-outline-rest);
  padding: 0 6px 0 12px;
  border-radius: 2px;
  height: 32px;
}
.numberField:hover:enabled {
  background: var(--neutral-fill-input-hover);
  border-color: var(--neutral-outline-hover);
}
.numberField:active:enabled {
  background: var(--neutral-fill-input-active);
  border-color: var(--neutral-outline-active);
}
.numberField:focus:enabled {
  outline: none;
  border-color: var(--neutral-focus);
  box-shadow: 0 0 0 1px var(--neutral-focus) inset;
}
.numberField:disabled {
  cursor: not-allowed !important;
  opacity: 0.3;
}
.numberField::placeholder {
  color: var(--neutral-foreground-hint);
}
@media (-ms-high-contrast:active) {
  .numberField {
    color: ButtonText;
    background: ButtonFace;
    border-color: ButtonText;
    -ms-high-contrast-adjust: none;
  }
}
.numberField::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
@media (-ms-high-contrast:active) {
  .numberField::placeholder {
    color: GrayText;
  }
}
@media (-ms-high-contrast:active) {
  .numberField:disabled {
    fill: GrayText !important;
    color: GrayText !important;
    opacity: 1;
    background: ButtonFace !important;
    border-color: GrayText !important;
  }
}
@media (-ms-high-contrast:active) {
  .numberField:focus:enabled {
    border-color: ButtonText;
    box-shadow: 0 0 0 1px inset ButtonText;
  }
}
@media (-ms-high-contrast:active) {
  .numberField:hover:enabled {
    background: ButtonFace;
    border: 1px solid Highlight;
  }
}