.progress-0-0-147 {
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
}
@media (-ms-high-contrast:active) {
  .progress-0-0-147 {
    -ms-high-contrast-adjust: none;
  }
}
.progress__circular-0-0-148 {
  width: unset;
  height: unset;
  display: inline-block;
}
.progress__circular-0-0-148 .progress_valueIndicator-0-0-153, .progress__circular-0-0-148 .progress_indicator-0-0-155 {
  fill: none;
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out;
  stroke-width: 2px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
}
.progress__circular-0-0-148 .progress_valueIndicator-0-0-153 {
  stroke: var(--accent-fill-rest);
}
.progress__circular-0-0-148 .progress_valueIndicator__indeterminate-0-0-154 {
  animation: spin-infinite 2s linear infinite;
}
.progress__circular-0-0-148 .progress_indicator-0-0-155 {
  stroke: var(--neutral-fill-rest);
}
@media (-ms-high-contrast:active) {
  .progress__circular-0-0-148 .progress_indicator-0-0-155 {
    stroke: ButtonFace;
  }
}
@media (-ms-high-contrast:active) {
  .progress__circular-0-0-148 .progress_valueIndicator-0-0-153 {
    stroke: ButtonText;
  }
}
.progress__paused-0-0-149 .progress_valueIndicator-0-0-153 {
  stroke: var(--neutral-foreground-hint);
  background: var(--neutral-foreground-hint);
}
.progress__paused-0-0-149 .progress_dot-0-0-157 {
  background-color: var(--neutral-fill-rest);
}
.progress__paused-0-0-149 .progress_dot__1-0-0-158 {
  animation-play-state: paused;
}
.progress__paused-0-0-149 .progress_dot__2-0-0-159 {
  animation-play-state: paused;
}
.progress__paused-0-0-149 .progress_valueIndicator__indeterminate-0-0-154 {
  stroke: var(--neutral-fill-rest);
  animation-play-state: paused;
}
.progress_valueIndicator-0-0-153 {
  height: 100%;
  background: var(--accent-fill-rest);
  transition: all 0.2s ease-in-out;
  border-radius: 100px;
}
@media (-ms-high-contrast:active) {
  .progress_valueIndicator-0-0-153 {
    background: ButtonText;
  }
}
.progress_indicator-0-0-155 {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  background: var(--neutral-fill-rest);
  transition: all 0.2s ease-in-out;
  mask-image: -webkit-radial-gradient(white, black);
  align-items: center;
  border-radius: 100px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
@media (-ms-high-contrast:active) {
  .progress_indicator-0-0-155 {
    background: ButtonFace;
  }
}
.progress_indicator__determinate-0-0-156 {
  border-radius: 2px;
}
@media (-ms-high-contrast:active) {
  .progress_indicator__determinate-0-0-156 {
    background: ButtonFace;
  }
}
.progress_dot-0-0-157 {
  height: 100%;
  opacity: 0;
  position: absolute;
  border-radius: 100px;
  background-color: var(--accent-fill-rest);
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.6, 1.0);
}
@media (-ms-high-contrast:active) {
  .progress_dot-0-0-157 {
    opacity: 1 !important;
    background: ButtonText;
  }
}
.progress_dot__1-0-0-158 {
  width: 40%;
  animation: indeterminate-1 2s infinite;
}
.progress_dot__2-0-0-159 {
  width: 60%;
  animation: indeterminate-2 2s infinite;
}
@keyframes spin-infinite {
  0% {
    stroke-dasharray: 0.01px 43.97px;
  }
  50% {
    transform: rotate(450deg);
    stroke-dasharray: 21.99px 21.99px;
  }
  100% {
    stroke-dasharray: .01px 43.97px;
  }
}
@keyframes indeterminate-1 {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  70.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes indeterminate-2 {
  0% {
    opacity: 0;
  }
  29.99% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}