.radio {
  display: inline-flex;
  position: relative;
  transition: all 0.2s ease-in-out;
  align-items: center;
  flex-direction: row;
}
.radio_input {
  margin: 0;
  z-index: 1;
  position: absolute;
  appearance: none;
  background: var(--neutral-fill-input-rest);
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--neutral-outline-rest);
}
.radio_input:enabled {
  cursor: pointer;
}
.radio_input:hover:enabled {
  background: var(--neutral-fill-input-hover);
  border-color: var(--neutral-outline-hover);
}
.radio_input:active {
  background: var(--neutral-fill-input-active);
  border-color: var(--neutral-outline-active);
}
.radio_input:focus {
  outline: none;
}
body:not(:global(.js-focus-visible)) .radio_input:focus, :global(.js-focus-visible) .radio_input:global(.focus-visible), global(.js-focus-visible) [data-focus-visible-added].radio_input {
  border-color: var(--neutral-focus);
  box-shadow: 0 0 0 1px var(--neutral-focus) inset;
}
@media (-ms-high-contrast:active) {
  .radio_input {
    background: transparent;
    -ms-high-contrast-adjust: none;
    border: 1px solid ButtonText;
  }
}
@media (-ms-high-contrast:active) {
  body:not(:global(.js-focus-visible)) .radio_input:focus, :global(.js-focus-visible) .radio_input:global(.focus-visible), global(.js-focus-visible) [data-focus-visible-added].radio_input {
    box-shadow: 0 0 0 1px ButtonText;
  }
}
@media (-ms-high-contrast:active) {
  .radio_input:hover:enabled {
    background: transparent;
    border: 1px solid Highlight;
  }
}
.radio_stateIndicator {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.radio_stateIndicator::before {
  z-index: 1;
  content: "";
  position: absolute;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
}
@media (-ms-high-contrast:active) {
  .radio_stateIndicator {
    -ms-high-contrast-adjust: none;
  }
}
.radio_label {
  color: var(--neutral-foreground-rest);
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: ;
}
@media (-ms-high-contrast:active) {
  .radio__checked .radio_input {
    background: HighlightText;
  }
}
@media (-ms-high-contrast:active) {
  .radio__checked .radio_input:hover {
    background: Highlight;
  }
}
@media (-ms-high-contrast:active) {
  .radio__checked:hover .radio_stateIndicator::before {
    background: HighlightText;
  }
}
.radio__checked .radio_stateIndicator::before {
  background: var(--neutral-foreground-rest);
}
@media (-ms-high-contrast:active) {
  .radio__checked .radio_stateIndicator::before {
    background: Highlight;
  }
}
.radio__disabled {
  cursor: not-allowed !important;
  opacity: 0.3;
}
@media (-ms-high-contrast:active) {
  .radio__disabled {
    color: GrayText;
    opacity: 1;
  }
}
.radio__disabled .radio_input, .radio__disabled .radio_label {
  cursor: not-allowed !important;
}
@media (-ms-high-contrast:active) {
  .radio__disabled .radio_input, .radio__disabled .radio_label {
    fill: GrayText !important;
    color: GrayText !important;
    background: ButtonFace !important;
    border-color: GrayText !important;
    -ms-high-contrast-adjust: none;
  }
}