.selectOption {
  fill: var(--neutral-foreground-rest);
  color: var(--neutral-foreground-rest);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  background: var(--neutral-fill-stealth-rest);
  align-items: center;
  white-space: nowrap;
  list-style-type: none;
  height: 32px;
  padding: 0 10px;
  margin: 0 4px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
  border: 2px solid transparent;
}
.selectOption:focus {
  outline: none;
}
body:not(:global(.js-focus-visible)) .selectOption:focus, :global(.js-focus-visible) .selectOption:global(.focus-visible), global(.js-focus-visible) [data-focus-visible-added].selectOption {
  border-color: var(--neutral-focus);
}
.selectOption:hover {
  background: var(--neutral-fill-stealth-hover);
}
@media (-ms-high-contrast:active) {
  .selectOption {
    fill: ButtonText;
    color: ButtonText;
    border: none;
    background: ButtonFace;
    -ms-high-contrast-adjust: none;
  }
}
@media (-ms-high-contrast:active) {
  .selectOption:hover {
    fill: HighlightText;
    color: HighlightText;
    background: Highlight;
  }
}
@media (-ms-high-contrast:active) {
  body:not(:global(.js-focus-visible)) .selectOption:focus, :global(.js-focus-visible) .selectOption:global(.focus-visible), global(.js-focus-visible) [data-focus-visible-added].selectOption {
    border-color: ButtonText;
    box-shadow: 0 0 0 1px inset ButtonText;
  }
}
.selectOption_contentRegion {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.selectOption_glyph {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin: 0 12px 0 0;
}
.selectOption__disabled {
  cursor: not-allowed !important;
  opacity: 0.3;
}
@media (-ms-high-contrast:active) {
  .selectOption__disabled {
    fill: GrayText !important;
    color: GrayText !important;
    opacity: 1;
    background: ButtonFace !important;
    border-color: GrayText !important;
  }
}
.selectOption__disabled, .selectOption__disabled:hover {
  background: var(--neutral-fill-stealth-rest);
}
.selectOption__selected {
  background: var(--neutral-fill-stealth-selected);
}
@media (-ms-high-contrast:active) {
  .selectOption__selected {
    fill: HighlightText !important;
    color: HighlightText !important;
    background: Highlight !important;
    border-color: ButtonText !important;
  }
}
.selectOption__selected:hover {
  background: var(--neutral-fill-stealth-selected);
}