.textArea {
  color: var(--neutral-foreground-rest);
  margin: 0;
  max-width: 100%;
  background: var(--neutral-fill-input-rest);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid var(--neutral-outline-rest);
  padding: 0 11px;
  border-radius: 2px;
  height: 64px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.textArea:hover:enabled {
  background: var(--neutral-fill-input-hover);
  border-color: var(--neutral-outline-hover);
}
.textArea:active:enabled {
  background: var(--neutral-fill-input-active);
  border-color: var(--neutral-outline-active);
}
.textArea:focus:enabled {
  outline: none;
  border-color: var(--neutral-focus);
  box-shadow: 0 0 0 1px var(--neutral-focus) inset;
}
.textArea:disabled {
  cursor: not-allowed !important;
  opacity: 0.3;
}
.textArea::placeholder {
  color: var(--neutral-foreground-hint);
}
@media (-ms-high-contrast:active) {
  .textArea {
    color: ButtonText;
    background: ButtonFace;
    border-color: ButtonText;
    -ms-high-contrast-adjust: none;
  }
}
@media (-ms-high-contrast:active) {
  .textArea::placeholder {
    color: GrayText;
  }
}
@media (-ms-high-contrast:active) {
  .textArea:disabled {
    fill: GrayText !important;
    color: GrayText !important;
    opacity: 1;
    background: ButtonFace !important;
    border-color: GrayText !important;
  }
}
@media (-ms-high-contrast:active) {
  .textArea:focus:enabled {
    border-color: ButtonText;
    box-shadow: 0 0 0 1px inset ButtonText;
  }
}
@media (-ms-high-contrast:active) {
  .textArea:hover:enabled {
    background: ButtonFace;
    border: 1px solid Highlight;
  }
}