.toggle-0-0-235 {
  color: var(--neutral-foreground-rest);
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
@media (-ms-high-contrast:active) {
  .toggle-0-0-235 {
    -ms-high-contrast-adjust: none;
  }
}
.toggle_label-0-0-236 {
  clear: both;
  cursor: pointer;
  display: block;
  padding-bottom: 7px;
}
.toggle_toggleButton-0-0-237 {
  cursor: pointer;
  position: relative;
  margin-top: 0;
}
.toggle_stateIndicator-0-0-238 {
  position: absolute;
  transition: all .1s ease;
  background: var(--neutral-foreground-rest);
  pointer-events: none;
}
.toggle_input-0-0-239 {
  cursor: pointer;
  margin: 0;
  display: block;
  outline: none;
  position: relative;
  background: var(--neutral-fill-input-rest);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.toggle_input-0-0-239:active {
  background: var(--neutral-fill-input-active);
  border-color: var(--neutral-outline-active);
}
.toggle_input-0-0-239:hover {
  background: var(--neutral-fill-input-hover);
  border-color: var(--neutral-outline-hover);
}
.toggle_input-0-0-239:focus {
  outline: none;
}
body:not(:global(.js-focus-visible)) .toggle_input-0-0-239:focus, :global(.js-focus-visible) .toggle_input-0-0-239:global(.focus-visible), global(.js-focus-visible) [data-focus-visible-added].toggle_input-0-0-239 {
  border-color: var(--neutral-focus);
}
@media (-ms-high-contrast:active) {
  .toggle_input-0-0-239 {
    background: Window;
    border-color: ButtonText;
  }
  .toggle_input-0-0-239 + span {
    background: ButtonText;
  }
}
@media (-ms-high-contrast:active) {
  body:not(:global(.js-focus-visible)) .toggle_input-0-0-239:focus, :global(.js-focus-visible) .toggle_input-0-0-239:global(.focus-visible), global(.js-focus-visible) [data-focus-visible-added].toggle_input-0-0-239 {
    border-color: ButtonText;
  }
}
@media (-ms-high-contrast:active) {
  .toggle_input-0-0-239:hover {
    background: Window;
    border-color: Highlight;
  }
  .toggle_input-0-0-239:hover + span {
    background: Highlight;
  }
}
@media (-ms-high-contrast:active) {
  .toggle_input-0-0-239:active {
    background: Highlight;
    border-color: HighlightText;
  }
  .toggle_input-0-0-239:active + span {
    background: HighlightText;
  }
}
.toggle__checked-0-0-240 .toggle_input-0-0-239 {
  background: var(--accent-fill-rest);
  border-color: var(--accent-fill-rest);
}
.toggle__checked-0-0-240 .toggle_stateIndicator-0-0-238 {
  background: var(--accent-foreground-cut);
}
.toggle__checked-0-0-240 .toggle_input-0-0-239:focus {
  outline: none;
}
body:not(:global(.js-focus-visible)) .toggle__checked-0-0-240 .toggle_input-0-0-239:focus, :global(.js-focus-visible) .toggle__checked-0-0-240 .toggle_input-0-0-239:global(.focus-visible), global(.js-focus-visible) [data-focus-visible-added].toggle__checked-0-0-240 .toggle_input-0-0-239 {
  border-color: var(--neutral-focus);
}
@media (-ms-high-contrast:active) {
  .toggle__checked-0-0-240 .toggle_input-0-0-239 {
    background: Highlight;
    border-color: Highlight;
  }
  .toggle__checked-0-0-240 .toggle_input-0-0-239 + span {
    background: HighlightText;
  }
}
@media (-ms-high-contrast:active) {
  .toggle__checked-0-0-240 .toggle_input-0-0-239:active {
    background: Highlight !important;
    border-color: Highlight !important;
  }
  .toggle__checked-0-0-240 .toggle_input-0-0-239:active + span {
    background: HighlightText !important;
  }
}
@media (-ms-high-contrast:active) {
  .toggle__checked-0-0-240 .toggle_input-0-0-239:hover {
    background: HighlightText;
    border-color: Highlight;
  }
  .toggle__checked-0-0-240 .toggle_input-0-0-239:hover + span {
    background: Highlight;
  }
}
@media (-ms-high-contrast:active) {
  .toggle__checked-0-0-240 .toggle_input-0-0-239:disabled .toggle_input-0-0-239, .toggle__checked-0-0-240 .toggle_input-0-0-239:disabled .toggle_label-0-0-236, .toggle__checked-0-0-240 .toggle_input-0-0-239:disabled .toggle_statusMessage-0-0-242 {
    color: GrayText !important;
    background: transparent;
    border-color: GrayText !important;
  }
  .toggle__checked-0-0-240 .toggle_input-0-0-239:disabled .toggle_input-0-0-239 + span, .toggle__checked-0-0-240 .toggle_input-0-0-239:disabled .toggle_label-0-0-236 + span, .toggle__checked-0-0-240 .toggle_input-0-0-239:disabled .toggle_statusMessage-0-0-242 + span {
    background: GrayText !important;
  }
}
@media (-ms-high-contrast:active) {
  body:not(:global(.js-focus-visible)) .toggle__checked-0-0-240 .toggle_input-0-0-239:focus, :global(.js-focus-visible) .toggle__checked-0-0-240 .toggle_input-0-0-239:global(.focus-visible), global(.js-focus-visible) [data-focus-visible-added].toggle__checked-0-0-240 .toggle_input-0-0-239 {
    border-color: ButtonText !important;
  }
}
.toggle__disabled-0-0-241 {
  cursor: not-allowed !important;
}
@media (-ms-high-contrast:active) {
  .toggle__disabled-0-0-241 {
    color: GrayText;
    opacity: 1;
  }
}
.toggle__disabled-0-0-241 .toggle_input-0-0-239, .toggle__disabled-0-0-241 .toggle_label-0-0-236, .toggle__disabled-0-0-241 .toggle_statusMessage-0-0-242 {
  cursor: not-allowed !important;
}
@media (-ms-high-contrast:active) {
  .toggle__disabled-0-0-241 .toggle_input-0-0-239, .toggle__disabled-0-0-241 .toggle_label-0-0-236, .toggle__disabled-0-0-241 .toggle_statusMessage-0-0-242 {
    color: GrayText !important;
    background: transparent;
    border-color: GrayText !important;
  }
  .toggle__disabled-0-0-241 .toggle_input-0-0-239 + span, .toggle__disabled-0-0-241 .toggle_label-0-0-236 + span, .toggle__disabled-0-0-241 .toggle_statusMessage-0-0-242 + span {
    background: GrayText !important;
  }
}
.toggle_statusMessage-0-0-242 {
  margin-top: 0;
  user-select: none;
  padding-bottom: 0;
}
@media (-ms-high-contrast:active) {
  .toggle_statusMessage-0-0-242 {
    fill: WindowText !important;
    color: WindowText !important;
  }
}